// fonts
$fontHeader: "Fira Code", monospace;
$fontParagraph: "Roboto", monospace;
$fontCode: "Fira Code", monospace;

// colours
$backgroundColour: #1b1b1b;
$primaryFontColour: white;
$accentFontColour: lightgreen;
