// =============================================================================
// DESIGN TOKENS
// =============================================================================

// Typography
// -----------------------------------------------------------------------------
$font-header: "Fira Sans Condensed", sans-serif;
$font-paragraph: "Roboto", sans-serif;
$font-code: "Fira Code", monospace;
$font-accent: "Fira Code", monospace;

// Colours
// -----------------------------------------------------------------------------
$color-background: #1e1d20;
$color-text-primary: #ffffff;
$color-text-secondary: #79737d;
$color-text-accent: #15cb64;
$color-text-title: #ceb2db;

// Spacing
// -----------------------------------------------------------------------------
$spacing-content: 1rem;
