{{ define "main" }}
  {{ if eq .Kind "taxonomy" }}
    <h1>All Tags</h1>
    <ul>
      {{ range .Site.Taxonomies.tags.Alphabetical }}
        <li class="post-item">
          <a href="{{ .Page.Permalink }}">
            <span class="post-title">{{ .Name }}</span>
            <span class="post-date">{{ .Count }}</span>
          </a>
        </li>
      {{ end }}
    </ul>
  {{ else if eq .Kind "term" }}
    <h1>Posts tagged "{{ .Title }}"</h1>
    <ul>
      {{ range .Paginator.Pages }}
        <li class="post-item">
          <a href="{{ .Permalink }}">
            <span class="post-title">{{ .Title }}</span>
            <span class="post-right">
              {{ with .GetTerms "tags" }}
                <span class="post-tags">{{ range . }}<span class="post-tag">{{ .LinkTitle }}</span>{{ end }}</span>
              {{ end }}
              |
              {{ if not .Date.IsZero }}<span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>{{ end }}
            </span>
          </a>
        </li>
      {{ end }}
    </ul>
  {{ else }}
    <h1>Blog</h1>
    <ul>
      {{ range .Paginator.Pages }}
        <li class="post-item">
          <a href="{{ .Permalink }}">
            <span class="post-title">{{ .Title }}</span>
            <span class="post-right">
              {{ with .GetTerms "tags" }}
                <span class="post-tags">{{ range . }}<span class="post-tag">{{ .LinkTitle }}</span>{{ end }}</span>
              {{ end }}
              |
              {{ if not .Date.IsZero }}<span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>{{ end }}
            </span>
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
