{{ define "main" }}
<div class="welcome">
  {{ if .Site.Params.welcome.greeting }}
  <p>{{ .Site.Params.welcome.greeting }}</p>
  {{ end }}
  {{ if .Site.Params.welcome.message }}
  <p>{{ .Site.Params.welcome.message }}</p>
  {{ end }}
  <div class="clock-weather-col">
    <span class="timezone-label">{{ .Site.Params.location.city }}</span>
    <span id="clock" class="time-display"></span>
    <span id="astronomy-info" class="astronomy-display"></span>
    <span id="weather-info" class="weather-display"></span>
  </div>
</div>
{{ end }}
