@use "vars";

.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex: 1;
  margin-top: 50px;
}

.sidebar {
  width: 25vw;
  flex-shrink: 0;
}

#left-sidebar {
  order: 1;
  text-align: left;
}

#right-sidebar {
  order: 3;
  text-align: right;
}

.content {
  order: 2;
  flex: 1;
  flex-grow: 1;
  overflow-y: auto;
}

.header {
  position: fixed;
  top: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
